<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
    </head>

    <body>
        <h1>Hello {{ nom }} !</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequatur in ipsam magni mollitia repellat.
            Enim id natus nesciunt nobis quos. Adipisci beatae facilis fugit maxime nobis quae reprehenderit velit.
        </p>
    </body>
</html>